{% extends 'base.html' %}

{% block title %}MapMyDay - User Location Map{% endblock %}

{% block content %}
<div id="map" style="height: 600px; margin-bottom: 20px;"></div>
{% load static %}
        <link rel="stylesheet" href="{% static 'css/map.css' %}">
<script>
    var map = L.map('map').setView([{{ user_latitude }}, {{ user_longitude }}], 15);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var userIcon = L.icon({
        iconUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-icon.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
    });

    L.marker([{{ user_latitude }}, {{ user_longitude }}], { icon: userIcon })
        .addTo(map)
        .bindPopup("Your Selected Location")
        .openPopup();
</script>
{% endblock %}
