@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

#map {
    height: 500px;
}
#search-container {
    margin: 10px 0;
}
#location-list-container {
    margin-top: 20px;
    padding: 10px;
}

#location-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.location-item {
    flex: 1 1 calc(33.33% - 20px);
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.location-item:hover {
    transform: scale(1.05);
    background: #e9ecef;
}  
